#header-classes {
  background: rgba(129, 128, 129, 0.827);
  background: linear-gradient(172deg,
      rgba(129, 128, 129, 0.827) 36%,
      rgba(2, 74, 155, 0.835) 77%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-link {
  text-align: center;
  color: #fff;
}

.navbar-nav .nav-link.active {
  background: rgba(129, 128, 129, 0.827);
  background: linear-gradient(172deg,
      rgba(129, 128, 129, 0.827) 36%,
      rgba(2, 74, 155, 0.835) 77%);
  color: #fff;
}

h2 {
  text-align: center;
}

img.d-block {
  max-height: 810px;
  object-fit: cover;
}

section {
  padding-top: 120px;
}

div.card {
  padding: 0;
}

.card-header {
  background: rgba(129, 128, 129, 0.827);
  background: linear-gradient(172deg,
      rgba(129, 128, 129, 0.827) 36%,
      rgba(2, 74, 155, 0.835) 77%);
}

main>img {
  max-width: 322px;
  width: 100%;
  max-height: 480px;
  cursor: pointer;
}

main>img:hover {
  filter: brightness(85%);
  transition: filter 0.3s;
}

.card-footer {
  border: 0;
}

.btn {
  background: rgba(129, 128, 129, 0.827);
  background: linear-gradient(172deg,
      rgba(129, 128, 129, 0.827) 36%,
      rgba(2, 74, 155, 0.835) 77%);
  font-weight: bold;
}

.btn:hover {
  filter: brightness(1.2);
  transition: all ease 0.2s;
}

div.form-group {
  background: rgba(129, 128, 129, 0.827);
  background: linear-gradient(172deg,
      rgba(129, 128, 129, 0.827) 36%,
      rgba(2, 74, 155, 0.835) 77%);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 30 em
}

label {
  padding: 30px 0 6px;
}

textarea {
  resize: none;
}

button.btn {
  background: rgba(129, 128, 129, 0.827);
  padding: 10px 20px;
}

button.btn:hover {
  background-color: rgba(2, 74, 155, 0.835);
}

.rodape {
  text-align: center;
  margin-top: 60px;
  padding: 10px 0;
  background: rgba(2, 74, 155, 0.835) 77%;
  color: #fff;
}

@media screen and (max-width: 769px) {
  img.d-block {
    max-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  img.d-block {
    max-height: 700px;
    height: 100%;
  }
}